textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background: #a0aec0; /* Customize the thumb color */
  border-radius: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #edf2f7; /* Customize the track color */
}

